<!doctype html>
<html>
    <head>
        <title>FE7 Promote All Units Rules</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <img class="rule_box" src="static/images/Rules/speech_box_L.png" />
        <span
         class="txt-rotate"
         data-period="2000"
         data-rotate='[
            "All units must be promoted by the end of the game",
            "Cannot attack with unpromoted units past Lv10",
            "...except thieves, who can be used normally past Lv10",
            "Dancers, Transporter and NPCs are exempt from any rule",
            "Obtain all opening optional dialogue",
            "No arena usage allowed",
            "Anything not mentioned in the rules is allowed"
        ]'>
        </span>
    </body>
    <script type="text/javascript" src="static/scripts/text_animation.js">
    </script>
</html>
