<!doctype html>
<html>
    <head>
        <title>FE7 Magic-Only Rules</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <img class="rule_box" src="static/images/Rules/speech_box_L.png" />
        <span
         class="txt-rotate"
         data-period="2000"
         data-rotate='[
            "No rules apply before Chapter 14",
            "Non-magic users cannot use weapons nor staves",
            "NPCs are exempt from any rule",
            "Anything not mentioned in the rules is allowed"
        ]'>
        </span>
    </body>
    <script type="text/javascript" src="static/scripts/text_animation.js">
    </script>
</html>
