<!doctype html>
<html>
    <head>
        <title>FE main series game</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <img class="rule_box" src="static/images/Rules/speech_box_L.png" />
        <span
         class="txt-rotate"
         data-period="2000"
         data-rotate='[
            "The fifth game in the Fire Emblem series",
            "First released for the Super Famicom on 1st September 1999",
            "A ROM cartridge was released on 21st January 2000",
            "Intended to be a small side game to FE4",
            "Initially released through the Nintendo Power flash cartridge",
            "This is the worst-selling main FE game in Japan to date",
            "The ROM cart version was the 5th last game on the SNES"
        ]'>
        </span>
    </body>
    <script type="text/javascript" src="static/scripts/text_animation.js">
    </script>
</html>
