<!doctype html>
<html>
    <head>
        <title>FE main series game</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <img class="rule_box" src="static/images/Rules/speech_box_L.png" />
        <span
         class="txt-rotate"
         data-period="2000"
         data-rotate='[
            "The second game in the Fire Emblem series",
            "First released for the Famicom on 14th March 1992",
            "Received four releases in Japan only",
            "One of three games to use the MMC4 memory chip"
        ]'>
        </span>
    </body>
    <script type="text/javascript" src="static/scripts/text_animation.js">
    </script>
</html>
