<!doctype html>
<html>
    <head>
        <title>FE spinoff game</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <img class="rule_box" src="static/images/Rules/speech_box_L.png" />
        <span
         class="txt-rotate"
         data-period="2000"
         data-rotate='[
            "Released for the Nintendo 3DS on 13th March 2014",
            "Developed by Intelligent Systems and Nintendo SPD",
            "Published by Nintendo",
            "Uses characters from American literature and folklore",
            "Art inspired by steampunk and Silver Age comic books",
            "The first game where Marth gets an English voice dub"
        ]'>
        </span>
    </body>
    <script type="text/javascript" src="static/scripts/text_animation.js">
    </script>
</html>

<!-- X Zone
"Released for the Nintendo 3DS on 12th November 2015",
"Developed by Monolith Soft",
"Published by Nintendo in Japan",
"Published by Bandai Namco Entertainment outside of Japan",
"The plot, while standalone, is a homage to Namco × Capcom",
"The intent was to only represent globally accessible games" -->
