<!doctype html>
<html>
    <head>
        <title>FE spinoff game</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <img class="rule_box" src="static/images/Rules/speech_box_L.png" />
        <span
         class="txt-rotate"
         data-period="2000"
         data-rotate='[
             "Released for the Nintendo Switch on 7th December 2018",
             "Published by Nintendo",
             "Developed with Sora Ltd. and BANDAI NAMCO Studios Inc.",
             "In total, 87 FE characters make an appearance (8 playable)",
             "Contains 52 soundtracks from FE and Code Name S.T.E.A.M",
             "A debug version of Three Houses was used to develop Byleth"
        ]'>
        </span>
    </body>
    <script type="text/javascript" src="static/scripts/text_animation.js">
    </script>
</html>
