<!doctype html>
<html>
    <head>
        <title>FE spinoff game</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <img class="rule_box" src="static/images/Rules/speech_box_L.png" />
        <span
         class="txt-rotate"
         data-period="2000"
         data-rotate='[
            "Released on 24th June 2022 for the Nintendo Switch",
            "A crossover with the Dynasty Warriors series",
            "Developed by Omega Force",
            "Published by Koei Tecmo in Japan and Nintendo internationally"
        ]'>
        </span>
    </body>
    <script type="text/javascript" src="static/scripts/text_animation.js">
    </script>
</html>
